.text-decoration {
  margin: 20px;
  text-decoration: none;
  color: white;
  }

.profile_img {
  width: 200px;
  height: 200px;
}

.btn-custom {
  background-color: #282094; /* Cambia a tu color preferido */
}
